
.post__link {
    display: block;

    min-height: 130px;

    color: black;
    text-decoration: none;

    border: 3px solid black;
    border-radius: 5px;
}

.post__link:hover,
.post__link:focus {
    border-color: grey;
    cursor: pointer;
}

.post__link:hover,
.post__link:focus {
    color: grey;
}

.post__username, 
.post__title {
    margin-left: 10px;
    margin-right: 10px;
}